h1 {
  background: red;
  padding: 40px;
  margin: 40px;
  border: 2px solid pink;
  border-radius: 1em;
}

.block {
  outline: 1em solid pink;
  width: 5em;
  margin: 30px 50px 30px 20px;
  margin-left: auto;
}

a.link {
  outline: 1em solid skyblue;

  font-style: italic;
  font-weight: 00;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul {
  padding: 0;
  background: lightgreen;
  width: 20em;
  margin: 0 auto;
}

ul li a {
  text-decoration: none;
  margin-right: 2em;
  margin-left: auto;
}

div.img {
  background: linear-gradient(to top, rgba(21, 35, 54, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/mountains-ge60563ae7_640.png") center/cover no-repeat fixed;
  min-height: 100vh;
  text-align: center;
}
