* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  border: 3px solid red;
  padding: 1em;
  width: 50%;
  height: 120px;
}

img {
  width: 150px;
  float: left;
  margin-right: 1em;
}
