*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-img > img {
  height: 10em;
}

.card-first {
  border: 2px solid black;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.last {
  grid-column: 3/4;
}
