* {
  margin: 0;
  padding: 0;
}

.container {
  background: red;
  height: 600px;
  width: 800px;
  display: grid;
  grid-template-rows: 100px;
  /* grid-template-columns: 150px 150px; */
}

.item {
  background: purple;
  height: 100px;
  width: 100px;
}
