*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ******** INTRO ******** */
.intro {
  background: #23424a;
  padding: 5em 0;
  color: white;
}

.intro-title p {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.intro-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

/* ==== Intro, Button and Second common ==== */

.intro-button,
.intro-primary,
.second {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

/* ******** BUTTON ******** */

a {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #38cfd9;
  border-radius: 8em;
  border: none;
  text-transform: uppercase;
  margin-top: 2em;
  text-decoration: none;
  color: #23424a;
}

a:visited {
  color: #23424a;
}

a:hover {
  opacity: 0.75;
}

/* ******** IMAGE ******** */

img {
  max-width: 100%;
}

/* ************ SECOND ************ */

/* ===== Common Flexbox ======= */

.intro-primary-one {
  display: flex;
  gap: 3em;
}

.intro-title,
.row-one {
  width: 62%;
}
