*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ******** INTRO ******** */
.intro {
  background: #23424a;
  padding: 5em 0;
  color: white;
  margin-bottom: 3.5em;
}

.intro-title p {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.intro-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

/* ==== Intro, Button and Second common ==== */

.intro-button,
.intro-primary,
.second {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

/* ******** BUTTON ******** */

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #38cfd9;
  border-radius: 8em;
  border: none;
  text-transform: uppercase;
  margin-top: 2em;
  text-decoration: none;
  color: #23424a;
}

.button:visited {
  color: #23424a;
}

.button:hover {
  opacity: 0.75;
}

/* ******** IMAGE ******** */

img {
  max-width: 100%;
}

.img,
.row-two {
  width: 60%;
}

.intro-title,
.row-one {
  width: 100%;
}

/* ************ SECOND ************ */

/* ===== Common Flexbox ======= */

.intro-primary-one {
  display: flex;
  gap: 3em;
  justify-content: space-between;
}

.second {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.row-two {
  background: #136c72;
  text-align: center;
  color: white;
}

.col-two {
  padding: 2em;
}

.col-two-first,
.col-two-second {
  margin-bottom: 2em;
}

.col-one h2 {
  color: #136c72;
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.col-one h2 {
  color: #136c72;
  margin-bottom: 1em;
}
.col-one p + p {
  margin-top: 1em;
}

.col-two h2 {
  margin-bottom: 1em;
}

/* ********** Nav Bar ******** */

.navigation {
  background: #136c72;
  padding: 1em 3em;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
}

.nav_item .nav_item_icon {
  margin-left: 1.5em;
  text-decoration: none;
}

.nav_item_icon:visited {
  color: white;
}

.sign_up:visited {
  color: #136c72;
}

.sign_up {
  background: white;
  padding: 0.2em 0.7em;
  border-radius: 2em;
}
